:root {
    --page-padding-top: 50px;
    --page-padding-bottom: 50px;
    --page-padding-left: 50px;
    --page-padding-right: 50px;
    --text-color: #5a5a5a;
    --blue-color: #00c7ff;
    --blue-hover-color: #00b3e5;
    --orange-color: #efa500;
    --orange-hover-color: #d18f00;
    --white-hover-color: #d5d5d5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial;
}

body.lock-scroll {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
}

h1 {
    font-size: 1.725em;
    font-weight: normal;
}

h2 {
    font-size: 4em;
    font-weight: normal;
    color: var(--blue-color);
    margin-bottom: 30px;
}

p {
    line-height: 32px; /* 40px for 24px font */
    margin-bottom: 30px;
    color: var(--text-color);
}

p:last-child {
    margin-bottom: 0;
}

section,
footer {
    padding-top: var(--page-padding-top);
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

button,
.button {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 55px;
    background-color: var(--orange-color);
    border-radius: 100px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
    text-align: center;
    cursor: pointer;
}

.invisible {
    opacity: 0;
}

@media screen and (max-width: 500px) {
    .button {
        width: 100%;
    }
}

button:hover,
.button:hover {
    background-color: var(--orange-hover-color);
    color: var(--white-hover-color);
    transition:
        color 0.4s,
        background-color 0.4s,
        border-color 0.4s,
        width 0.4s !important;
}

.button.secondary {
    background-color: transparent;
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;
}

.button.secondary:hover {
    border-color: var(--white-hover-color);
}

.notification-banner {
    height: 30px;
    background-color: #28942f;
    background-image: url("../images/holiday-banner.jpg");
}

.notification-banner .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #28942f;
}

.notification-banner p {
    color: #ffffff;
    line-height: 100%;
    margin: 0;
    margin-right: 10px;
}

.notification-banner .button {
    height: 20px;
    width: 150px;
    background-color: #ffffff;
    color: #28942f;
    font-size: 1em;
}

.notification-banner .button:hover {
    background-color: var(--white-hover-color);
}

@media screen and (max-width: 600px) {
    .notification-banner {
        height: 66px;
    }

    .notification-banner form {
        width: 100%;
    }

    .notification-banner .content {
        flex-direction: column;
        padding: 10px 20px;
    }

    .notification-banner p {
        margin: 0;
        margin-bottom: 10px;
    }

    .notification-banner .button {
        width: 100%;
    }

    /* .nav .container {
        top: 66px !important;
    } */

    .nav.background .container {
        top: 0 !important;
    }
}

.nav .container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav.background {
    background-color: #00228f;
}

.nav.background .container {
    position: relative;
    top: 0;
}

.nav .container,
.service-selector .buttons {
    padding: 0 50px;
}

.nav img:hover {
    opacity: 0.7;
    transition: opacity 0.4s;
}

.nav .logo {
    margin-right: 50px;
    position: relative;
    top: 2px;
    z-index: 4;
}

.nav .logo img {
    width: 100px;
}

.nav ul {
    list-style-type: none;
    display: inline-block;
    z-index: 3;
}

.nav ul li {
    display: inline-block;
    margin-right: 50px;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav a {
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover {
    transition: color 0.4s;
    color: var(--white-hover-color);
}

.nav .phone-cta {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    z-index: 4;
}

.nav .phone-cta .phone {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.nav .phone-cta .phone:hover img {
    opacity: 0.7;
    transition: opacity 0.4s;
}

.nav .phone-cta .phone img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.nav .phone-cta .button {
    font-size: 1rem;
    width: 180px;
    height: 30px;
}

.nav .mobile-menu-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    width: 100px;
    z-index: 4;
}

.nav .mobile-menu-icon .bar {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transition:
        transform 0.4s,
        background-color 0.4s;
    border-radius: 10px;
}

.nav .mobile-menu-icon:hover .bar {
    background-color: var(--white-hover-color);
}

.nav.active .mobile-menu-icon {
    position: relative;
    right: 4px;
    top: -4px;
}

.nav .mobile-menu-icon .bar:nth-child(2) {
    margin: 5px 0;
}

.nav.active .mobile-menu-icon .bar:nth-child(1) {
    transform: rotate(-45deg) translate(0, 10px);
}

.nav.active .mobile-menu-icon .bar:nth-child(2) {
    display: none;
}

.nav.active .mobile-menu-icon .bar:nth-child(3) {
    transform: rotate(45deg) translate(8px, -2px);
}

.nav.active ul {
    left: 0;
}

.nav ul .schedule {
    display: none;
    width: 50%;
    min-width: 250px;
    border-radius: 100px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
}

.nav .mobile-overlay {
    position: absolute;
    top: 0;
    left: -150%;
    width: 0;
    height: 100vh;
    z-index: 2;
    background-color: #00228f;
    opacity: 0.7;
    transition:
        left 0.6s,
        width 2s;
}

.nav.active .mobile-overlay {
    left: 0;
    width: 100vw;
    transition: left 0.6s;
}

.nav .dropdown-menu {
    color: #ffffff;
    cursor: pointer;
    position: relative;
    width: 160px;
}

.nav .dropdown-menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 18px;
    left: -10px;
    width: 100%;
    background-color: rgba(0, 199, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
}

.nav.background .dropdown-menu ul {
    background-color: #00228f;
}

.nav .dropdown-menu:hover ul {
    display: flex;
}

.nav .dropdown-menu ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.nav .dropdown-menu ul li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1515px) {
    :root {
        --page-padding-left: 40px;
        --page-padding-right: 40px;
    }

    .nav .container,
    .service-selector .buttons,
    .service-selector h1,
    .service-selector h2 {
        padding: 0 40px;
    }

    .nav .logo,
    .nav ul li,
    .nav .phone-cta .phone {
        margin-right: 40px;
    }

    .nav .phone-cta .button {
        width: 160px;
    }
}

@media screen and (max-width: 1400px) {
    :root {
        --page-padding-left: 30px;
        --page-padding-right: 30px;
    }

    .nav .container,
    .service-selector .buttons,
    .service-selector h1,
    .service-selector h2 {
        padding: 0 30px;
    }

    .nav .logo,
    .nav ul li,
    .nav .phone-cta .phone {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1292px) {
    :root {
        --page-padding-left: 20px;
        --page-padding-right: 20px;
    }

    .nav .container,
    .service-selector .buttons,
    .service-selector h1,
    .service-selector h2 {
        padding: 0 20px;
    }

    .nav .logo,
    .nav ul li,
    .nav .phone-cta .phone {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1192px) {
    .nav ul {
        display: none;
    }

    .nav .phone-cta {
        justify-content: center;
    }

    .nav .mobile-menu-icon {
        display: flex;
    }

    .nav ul {
        display: block;
        position: absolute;
        top: 0;
        left: -150%;
        width: 100%;
        text-align: center;
        background-color: #00228f;
        transition: left 0.6s;
        padding-top: 43px;
    }

    .nav ul li {
        display: block;
        margin: 0;
        height: 60px;
        line-height: 60px;
        padding-bottom: 1%;
    }

    .nav ul li a {
        display: block;
        height: 100%;
        width: 100%;
    }

    .nav ul li:hover {
        background-color: #001a70;
        transition: background-color 0.4s;
    }

    .nav ul .schedule:hover {
        background-color: var(--orange-hover-color);
        transition: background-color 0.4s;
    }

    .nav .dropdown-menu {
        width: 100%;
    }

    .nav .dropdown-menu ul {
        top: 0;
        padding: 0;
        left: 0;
        background-color: #00228f;
        border-radius: 0;
        padding-bottom: 10px;
    }

    .nav .dropdown-menu ul li {
        margin: 0;
    }

    .nav.active .dropdown-menu ul {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .nav .phone-cta .button {
        display: none;
    }

    .nav ul .schedule {
        display: block;
        background-color: var(--orange-color);
    }
}

@media screen and (max-width: 500px) {
    .nav .mobile-menu-icon {
        width: auto; /* to fix phone from wrapping and not having to reduce font size.*/
    }
}

.service-selector {
    min-height: min(970px, 100vh);
    position: relative;
    z-index: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: calc(var(--page-padding-top) * 2);
    padding-bottom: calc(var(--page-padding-bottom) * 2);
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
}

.service-selector h1 {
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

.service-selector h2 {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.2s;
}

.service-selector .background-img-1,
.service-selector .background-img-2 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.4s;
}

.service-selector .background-img-1 {
    z-index: 1;
}

.service-selector .background-img-2 {
    z-index: 0;
}

.service-selector .overlay {
    background-color: #00228f;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: background-color 0.4s;
}

.service-selector .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    z-index: 3;
    position: relative;
}

/* Holds the arrows and the items container. Might rename to carousel. */
.service-selector .service-selector-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28vw;
    max-height: 540px;
    transition: height 0.4s; /* so the items do not get clipped during their 0.4s resizing transition. */
}

.service-selector .service-selector-slide .items {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

.service-selector .service-selector-slide .items .middle:hover,
.service-selector .service-selector-slide .items .left:hover,
.service-selector .service-selector-slide .items .right:hover {
    border-color: var(--white-hover-color);
}

.service-selector .service-selector-slide .item-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 33.3%;
    position: relative;
    right: 0;
    transition: right 0.4s;
    display: flex;
    justify-content: center;
}

.service-selector .service-selector-slide .item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    max-width: 385px;
    height: 20vw;
    max-height: 385px;
    border: 10px solid #ffffff;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    right: 0;
    transition:
        width 0.4s,
        height 0.4s,
        right 0.4s,
        transform 0.4s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
}

.service-selector .service-selector-slide .item-container.middle .item-content {
    z-index: 2;
    width: 25vw;
    max-width: 480px;
    height: 25vw;
    max-height: 480px;
    right: 0;
}

.service-selector .service-selector-slide .item-container.left .item-content {
    right: -50%;
}

.service-selector .service-selector-slide .item-container.right .item-content {
    right: 50%;
}

.service-selector .service-selector-slide .item-content:hover {
    transform: scale(1.05);
}

.service-selector .service-selector-slide a {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    border-radius: 100%;
    background-color: rgba(90, 90, 90, 0.65);
}

.service-selector .service-selector-slide .left-arrow,
.service-selector .service-selector-slide .right-arrow {
    width: 4vw;
    height: 4vw;
    max-width: 60px;
    max-height: 60px;
    min-width: 30px;
    min-height: 30px;
    background-color: rgba(90, 90, 90, 0.65);
    border-radius: 100%;
    font-size: 3.75em;
    font-size: clamp(1.725em, 4vw, 3.75em);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 2;
}

.service-selector .service-selector-slide .left-arrow:hover,
.service-selector .service-selector-slide .right-arrow:hover {
    color: var(--white-hover-color);
    transition: color 0.4s;
}

.service-selector .service-selector-slide .left-arrow {
    left: var(--page-padding-left);
}

.service-selector .service-selector-slide .right-arrow {
    right: var(--page-padding-right);
}

.service-selector .service-selector-slide .left-arrow span,
.service-selector .service-selector-slide .right-arrow span {
    position: relative;
    top: 2px;
}

.service-selector .service-selector-slide .right-arrow span {
    left: 2px;
}

.service-selector .service-selector-slide .left-to-middle {
    left: 29%;
}

.service-selector .service-selector-slide .right-to-middle {
    right: 29%;
}

.service-selector .slide-dots {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

.service-selector .slide-dots .dot {
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
}

.service-selector .slide-dots .dot:hover {
    border-color: var(--white-hover-color);
    transition:
        background-color 0.4s,
        border-color 0.4s;
}

.service-selector .slide-dots .dot.active:hover {
    background-color: var(--white-hover-color);
    transition:
        background-color 0.4s,
        border-color 0.4s;
}

.service-selector .slide-dots .dot.active {
    background-color: #ffffff;
}

.service-selector .button {
    display: inline-flex;
}

.service-selector .button:first-of-type {
    margin-right: 20px;
}

@media screen and (max-width: 1400px) {
    .service-selector .service-selector-slide .item-container .item-content {
        width: 30vw;
        height: 30vw;
    }

    .service-selector
        .service-selector-slide
        .item-container.middle
        .item-content {
        width: 35vw;
        height: 35vw;
    }

    .service-selector .service-selector-slide {
        height: 38vw;
    }
}

@media screen and (max-width: 1115px) {
    h1 {
        font-size: 1.425em;
    }

    h2 {
        font-size: 3em;
    }

    .service-selector h1,
    .service-selector h2,
    .service-selector .slide-dots {
        margin-bottom: 4%;
    }

    .service-selector .slide-dots {
        margin-top: 1.5%;
    }
}

@media screen and (max-width: 900px) {
    .service-selector .button:first-of-type {
        margin-right: 0;
        margin-bottom: 6%;
    }

    .service-selector .button {
        width: 100%;
    }

    .service-selector .left-arrow {
        left: 20px;
    }

    .service-selector .right-arrow {
        right: 20px;
    }
}

@media screen and (max-width: 850px) {
    .service-selector .service-selector-slide .item-content {
        border-width: 7px;
    }

    .service-selector h2 {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 1000px) and (max-height: 850px) {
    .service-selector .service-selector-slide .item-container .item-content {
        width: 15vw;
        height: 15vw;
    }

    .service-selector
        .service-selector-slide
        .item-container.middle
        .item-content {
        width: 20vw;
        height: 20vw;
    }

    .service-selector .service-selector-slide {
        height: 23vw;
    }

    .service-selector
        .service-selector-slide
        .item-container.left
        .item-content {
        right: -60%;
    }

    .service-selector
        .service-selector-slide
        .item-container.right
        .item-content {
        right: 60%;
    }
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about .text {
    flex-basis: 40%;
    margin-right: var(--page-padding-right);
}

.about .text.only {
    margin: 0 !important;
}

.about .image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .image img {
    object-position: 0 40px;
    border: 10px solid #f3f3f3;
    border-radius: 100%;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
}

.about .image .caption {
    order: 1;
    margin-top: 15px;
    text-align: center;
}

.about .image .caption span {
    display: block;
    color: var(--text-color);
    font-size: 0.875em;
}

.about .image .caption .name {
    color: #000000;
}

@media screen and (max-width: 1115px) {
    .about .text {
        flex-basis: 60%;
    }
}

@media screen and (max-width: 850px) {
    .about .text {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .service.about:nth-child(odd) .container .text {
        margin-left: 0 !important;
    }

    .about .container {
        flex-direction: column !important;
    }
}

.reviews {
    margin-bottom: var(--page-padding-bottom);
}

.reviews .container {
    display: flex;
    justify-content: space-evenly;
}

.reviews .review {
    background-color: #f6f6f6;
    flex-basis: 33.3%;
    max-width: 450px;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
    height: 100%;
    transition: transform 0.4s;
    margin-right: 20px;
}

.reviews .review:last-of-type {
    margin-right: 0;
}

.reviews .review span {
    font-size: 0.875em;
}

.reviews .review p {
    text-align: center;
}

.reviews .review .profile {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin-bottom: 5px;
}

.reviews .review .star {
    width: 32px;
    height: 32px;
    margin: 15px 0;
}

.reviews .review:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 900px) {
    .reviews .container {
        flex-direction: column;
    }

    .reviews .review {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: none;
    }

    .reviews .review:hover {
        transform: none;
    }
}

.cta-full-screen {
    height: 100vh;
    min-height: 400px;
    max-height: 970px;
    background-color: var(--orange-color);
    color: #ffffff;
}

.cta-full-screen .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cta-full-screen h2 {
    color: #ffffff;
    text-align: center;
}

.cta-full-screen .button {
    background-color: #ffffff;
    color: var(--orange-color);
    margin-bottom: 10px;
}

.cta-full-screen .button:hover {
    background-color: var(--white-hover-color);
    color: var(--orange-hover-color);
}

@media screen and (max-width: 850px) {
    .cta-full-screen h2 {
        font-size: 2em;
    }
}

.or-call {
    font-size: 1.125em; /* same as button font size */
    color: #ffffff;
}

.or-call a {
    color: #ffffff;
    text-decoration: none;
}

.or-call a:hover {
    color: var(--white-hover-color);
    transition: color 0.4s;
}

.or-call .phone {
    font-weight: bold;
}

footer {
    background-color: #1a2437;
    padding-bottom: 5px;
}

footer .flex-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
}

footer .logo,
footer .services {
    flex-basis: 250px;
}

footer .logo img {
    width: 160px;
}

footer .logo img:hover {
    opacity: 0.7;
    transition: opacity 0.4s;
}

footer .services {
    list-style-type: none;
    color: #ffffff;
}

footer .services li {
    margin-bottom: 8px;
}

footer .services li:first-of-type {
    font-size: 1.125em;
}

footer .services a {
    color: #ffffff;
    text-decoration: none;
}

footer .services a:hover {
    color: var(--white-hover-color);
    transition: color 0.4s;
}

footer .cta {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .cta .button {
    margin-bottom: 10px;
}

footer .copyright {
    font-size: 0.7em;
    color: #ffffff;
    width: 230px;
    display: block;
}

footer .developer {
    margin-top: 5px;
    display: block;
}

@media screen and (max-width: 900px) {
    footer {
        height: auto;
        padding-bottom: var(--page-padding-bottom);
    }

    footer .flex-container {
        flex-direction: column;
    }

    footer .logo,
    footer .services,
    footer .cta {
        flex-basis: auto;
        margin-bottom: 30px;
    }

    footer .services {
        text-align: center;
    }

    footer .cta {
        width: 100%;
    }

    footer .copyright {
        text-align: center;
        width: 100%;
    }
}

.stats-banner {
    background-color: var(--blue-color);
}

.stats-banner .container {
    display: flex;
    justify-content: space-evenly;
}

.stats-banner .stat {
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    line-height: 25px;
    width: 230px;
}

.stats-banner .stat .highlight {
    display: block;
    font-size: 4rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .stats-banner .container {
        flex-direction: column;
        align-items: center;
    }

    .stats-banner .stat {
        margin-bottom: 100px;
    }

    .stats-banner .stat:last-child {
        margin-bottom: 50px;
    }
}

.before-after h1 {
    font-style: normal;
}

.before-after .service-selector-slide .item-container {
    width: 100%;
    column-gap: 2%;
}

.before-after .service-selector-slide .item-content {
    border-radius: 25px;
    width: 24.5vw;
    height: 24.5vw;
    cursor: auto;
}

.before-after .service-selector-slide .item-content:hover {
    transform: none;
}

.service.about .image img {
    border: none;
    border-radius: 25px;
    object-position: initial;
}

.service.about .container {
    padding: 5% 0;
}

.service.about:nth-child(odd) .container {
    flex-direction: row-reverse;
}

.service.about:nth-child(odd) .container .text {
    margin-left: var(--page-padding-left);
}

.schedule-form {
    min-height: min(970px, 100vh);
    background-color: var(--orange-color);
    padding-top: calc(var(--page-padding-top) * 2);
    padding-bottom: var(--page-padding-bottom);
}

.schedule-form h1 {
    color: #ffffff;
    font-size: 4em;
    text-align: center;
}

.schedule-form p {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}

.schedule-form .container {
    max-width: 1000px;
}

.schedule-form form {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.schedule-form .group {
    width: calc(50% - 5px);
    height: 100%;
}

.schedule-form label {
    padding-left: 10px;
    color: #ffffff;
    display: block;
}

.schedule-form input {
    height: 60px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px 10px;
    font-size: 1.25em;
    border-radius: 10px;
    font-family: Arial;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.schedule-form .zip-code,
.schedule-form .city {
    width: calc(25% - 7.5px);
}

.schedule-form .description {
    width: 100%;
}

.schedule-form textarea {
    width: 100%;
    height: 10em;
    padding: 20px 10px;
    font-family: Arial;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.25em;
    resize: none;
}

.schedule-form button {
    width: 100%;
    background-color: #ffffff;
    color: var(--orange-color);
    font-size: 1.25em;
}

.schedule-form button:hover {
    background-color: var(--white-hover-color);
    color: var(--orange-hover-color);
}

@media screen and (max-width: 900px) {
    .schedule-form .group {
        width: 100%;
    }
}

@media screen and (max-width: 1115px) {
    .schedule-form h1 {
        font-size: 3em;
    }

    .schedule-form p,
    .schedule-form input,
    .schedule-form textarea,
    .schedule-form button {
        font-size: 1em;
    }

    .schedule-form p {
        line-height: 20px;
    }
}

.g-recaptcha {
    margin: 0 auto;
    margin-bottom: 3px;
}
