:root {
    --page-padding: 50px;
    --text-color: #5A5A5A;
    --blue-color: #00C7FF;
    --blue-hover-color: #00B3E5;
    --orange-color: #FFAF00;
    --orange-hover-color: #E89F00;
    --white-hover-color: #D5D5D5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial;
   
}

body.lock-scroll {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
}

h1 {
    font-size: 1.725em;
    font-weight: normal;
}

h2 {
    font-size: 4em;
    font-weight: normal;
    color: var(--blue-color);
    margin-bottom: 30px;
}

p {
    line-height: 32px; /* 40px for 24px font */
    margin-bottom: 30px;
    color: var(--text-color);
}

p:last-child {
    margin-bottom: 0;
}

section,
footer {
    padding-top: var(--page-padding);
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 55px;
    background-color: var(--orange-color);
    border-radius: 100px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.125em;
    text-align: center;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s, width 0.4s !important;
}

.invisible {
    opacity: 0;
}

@media screen and (max-width: 500px) {
    .button {
        width: 100%;
    }
}

.button:hover {
    background-color: var(--orange-hover-color);
    color: var(--white-hover-color);
}

.button.secondary {
    background-color: transparent;
    border-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
}

.button.secondary:hover {
    border-color: var(--white-hover-color);
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav,
.service-selector .buttons {
    padding: 0 50px;
}

.nav img {
    transition: opacity 0.4s;
}

.nav img:hover {
    opacity: 0.7;
}

.nav .logo {
    margin-right: 50px;
    position: relative;
    top: 2px;
    z-index: 4;
}

.nav .logo img {
    width: 100px;
}

.nav ul {
    list-style-type: none;
    display: inline-block;
    z-index: 3;
}

.nav ul li {
    display: inline-block;
    margin-right: 50px;
}

.nav a {
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.4s;
}

.nav a:hover {
    color: var(--white-hover-color);
}

.nav .phone-cta {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    z-index: 4;
}

.nav .phone-cta .phone {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.nav .phone-cta .phone:hover img {
    opacity: 0.7;
}

.nav .phone-cta .phone img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transition: opacity 0.4s;
}

.nav .phone-cta .button {
    font-size: 1rem;
    width: 180px;
    height: 30px;
}

.nav .mobile-menu-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
	cursor: pointer;
    width: 100px;
    z-index: 4;
}

.nav .mobile-menu-icon .bar {
	width: 30px;
	height: 3px;
	background-color: #FFFFFF;
	transition: transform 0.4s, background-color 0.4s;
    border-radius: 10px;
}

.nav .mobile-menu-icon:hover .bar {
	background-color: var(--white-hover-color);
}

.nav.active .mobile-menu-icon {
	position: relative;
	right: 4px;
    top: -4px;
}

.nav .mobile-menu-icon .bar:nth-child(2) {
	margin: 5px 0;
}

.nav.active .mobile-menu-icon .bar:nth-child(1) {
	transform: rotate(-45deg) translate(0, 10px);
}

.nav.active .mobile-menu-icon .bar:nth-child(2) {
	display: none;
}

.nav.active .mobile-menu-icon .bar:nth-child(3) {
	transform: rotate(45deg) translate(8px, -2px);
}

.nav.active ul {
	left: 0;
}

.nav ul .schedule {
    display: none;
    width: 50%;
    min-width: 250px;
    border-radius: 100px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
}

.nav .mobile-overlay {
    position: absolute;
    top: 0;
    left: -150%;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: var(--blue-color);
    opacity: 0.7;
    transition: left 0.6s;
}

.nav.active .mobile-overlay {
    left: 0;
}

@media screen and (max-width: 1500px) {
    .nav,
    .service-selector .buttons {
        padding: 0 40px;
    }

    .nav .logo,
    .nav ul li,
    .nav .phone-cta .phone {
        margin-right: 40px;
    }

    .nav .phone-cta .button {
        width: 160px;
    }
}

@media screen and (max-width: 1355px) {
    .nav,
    .service-selector .buttons {
        padding: 0 30px;
    }

    .nav .logo,
    .nav ul li,
    .nav .phone-cta .phone {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1235px) {
    .nav,
    .service-selector .buttons {
        padding: 0 20px;
    }

    .nav .logo,
    .nav ul li,
    .nav .phone-cta .phone {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1115px) {
    .nav ul {
        display: none; /* left: -asdjoasdjaskd */
    }

    .nav .phone-cta {
        justify-content: center;
    }

    .nav .mobile-menu-icon {
        display: flex;
    }

    .nav ul {
		display: block;
		position: absolute;
		top: 0;
		left: -150%;
		width: 100%;
		/* height: calc(100vh - ((var(--nav-height) * 2) + (var(--content-spacing) * 2))); */
		text-align: center;
		background-color: var(--blue-color);
		transition: left 0.6s;
        padding-top: 43px;
	}

	.nav ul li {
		display: block;
		margin: 0;
		height: 60px; /*20%; /* use 20% for more centered but more space */
		line-height: 60px;
		padding-bottom: 1%;
        transition: background-color 0.4s;
	}

	.nav ul li a {
		display: block;
		height: 100%;
		width: 100%;
	}

    .nav ul li:hover {
        background-color: var(--blue-hover-color);
    }

    .nav ul .schedule:hover {
        background-color: var(--orange-hover-color);
    }
}

@media screen and (max-width: 800px) {
    .nav .phone-cta .button {
        display: none;
    }
    
    .nav ul .schedule {
        display: block;
        background-color: var(--orange-color);
    }
}

@media screen and (max-width: 500px) {
    .nav .mobile-menu-icon {
        width: auto; /* to fix phone from wrapping and not having to reduce font size.*/
    }
}


.service-selector {
    min-height: 100vh;
    position: relative;
    z-index: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: calc(var(--page-padding) * 2);
    padding-bottom: calc(var(--page-padding) * 2);
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
}

.service-selector h1 {
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

.service-selector h2 {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.2s;
}

.service-selector .background-img-1,
.service-selector .background-img-2 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.4s;
}

.service-selector .background-img-1 {
    background-image: url("../images/service-selector/carpet-1.png");
    z-index: 1;
}

.service-selector .background-img-2 {
    background-image: url("../images/service-selector/upholstery-1.png");
    z-index: 0;
}

.service-selector .overlay {
    background-color: var(--blue-color);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: background-color 0.4s;
}

.service-selector .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    z-index: 3;
    position: relative;
}

/* Holds the arrows and the items container. Might rename to carousel. */
.service-selector .service-selector-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28vw;
}

.service-selector .service-selector-slide .items {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

.service-selector .service-selector-slide .items .middle:hover,
.service-selector .service-selector-slide .items .left:hover,
.service-selector .service-selector-slide .items .right:hover {
    border-color: var(--white-hover-color);
}

.service-selector .service-selector-slide .item-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 33.3%;
    position: relative;
    right: 0;
    transition: right 0.4s;
    display: flex;
    justify-content: center;
}

.service-selector .service-selector-slide .item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border: 10px solid #FFFFFF;
    border-radius: 100%;
    position: relative;
    right: 0;
    transition: width 0.4s, height 0.4s, right 0.4s, transform 0.4s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
}

.service-selector .service-selector-slide .item-container.middle .item-content {
    z-index: 1;
    width: 25vw;
    height: 25vw;
    right: 0;
}

@media screen and (max-width: 1400px) {
    .service-selector .service-selector-slide .item-container .item-content {
        width: 30vw;
        height: 30vw;
    }

    .service-selector .service-selector-slide .item-container.middle .item-content {
        width: 35vw;
        height: 35vw;
    }

    .service-selector .service-selector-slide {
        height: 38vw;
    }
}

.service-selector .service-selector-slide .item-container.tile .item-content {
    background-image: url("../images/service-selector/vct-1.png");
}

.service-selector .service-selector-slide .item-container.carpet .item-content {
    background-image: url("../images/service-selector/carpet-1.png");
}

.service-selector .service-selector-slide .item-container.upholstery .item-content {
    background-image: url("../images/service-selector/upholstery-1.png");
}

.service-selector .service-selector-slide .item-container.service-4 .item-content {
    background-image: url("../images/service-selector/vct-2.png");
}

.service-selector .service-selector-slide .item-container.service-5 .item-content {
    background-image: url("../images/service-selector/carpet-2.png");
}

.service-selector .service-selector-slide .item-container.left .item-content {
    right: -50%;
}

.service-selector .service-selector-slide .item-container.right .item-content {
    right: 50%;
}

.service-selector .service-selector-slide .item-content:hover {
    transform: scale(1.05);
}

.service-selector .service-selector-slide a {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    border-radius: 100%;
    background-color: rgba(90, 90, 90, 0.65)
}

.service-selector .service-selector-slide .left-arrow,
.service-selector .service-selector-slide .right-arrow {
    width: 4vw;
    height: 4vw;
    max-width: 60px;
    max-height: 60px;
    min-width: 30px;
    min-height: 30px;
    background-color: rgba(90, 90, 90, 0.65);
    border-radius: 100%;
    font-size: 3.75em;
    font-size: clamp(1.725em, 4vw, 3.75em);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    transition: color 0.4s;
    flex-shrink: 0;
    z-index: 2;
}

.service-selector .service-selector-slide .left-arrow:hover,
.service-selector .service-selector-slide .right-arrow:hover {
    color: var(--white-hover-color);
}

.service-selector .service-selector-slide .left-arrow {
    left: 7%;
}

.service-selector .service-selector-slide .right-arrow {
    right: 7%;
}

.service-selector .service-selector-slide .left-arrow span,
.service-selector .service-selector-slide .right-arrow span {
    position: relative;
    top: 2px;
}

.service-selector .service-selector-slide .right-arrow span {
    left: 2px;
}

.service-selector .service-selector-slide .left-to-middle {
    left: 29%;
}

.service-selector .service-selector-slide .right-to-middle {
    right: 29%;
}

.service-selector .slide-dots {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

.service-selector .slide-dots .dot {
    width: 10px;
    height: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.4s, border-color 0.4s;
}

.service-selector .slide-dots .dot:hover {
    border-color: var(--white-hover-color);
}

.service-selector .slide-dots .dot.active:hover {
    background-color: var(--white-hover-color);
}

.service-selector .slide-dots .dot.active {
    background-color: #FFFFFF;
}

.service-selector .button {
    display: inline-flex;
}

.service-selector .button:first-of-type {
    margin-right: 20px;
}

@media screen and (max-width: 1115px) {
    h1 {
        font-size: 1.425em;
    }

    h2 {
        font-size: 3em;
    }

    .service-selector h1,
    .service-selector h2,
    .service-selector .slide-dots {
        margin-bottom: 4%;
    }

    .service-selector .slide-dots {
        margin-top: 1.5%;
    }
}

@media screen and (max-width: 900px) {
    .service-selector .button:first-of-type {
        margin-right: 0;
        margin-bottom: 6%;
    }

    .service-selector .button {
        width: 100%;
    }

    .service-selector .left-arrow {
        left: 20px;
    }

    .service-selector .right-arrow {
        right: 20px;
    }
}

@media screen and (max-width: 850px) {
    .service-selector .service-selector-slide .item-content {
        border-width: 7px;
    }
}

.about {
    padding: 0;
    margin: var(--page-padding); /* for absolute caption */
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about .text {
    flex-basis: 40%;
    margin-right: var(--page-padding);
}

.about .image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .image img {
    object-position: 0 40px;
    border: 10px solid #F3F3F3;
    border-radius: 100%;
    width: 100%;
    max-width: 600px;
}

.about .image .caption {
    order: 1;
    margin-top: 15px;
}

.about .image .caption span {
    display: block;
    color: var(--text-color);
    font-size: 0.875em;
}

.about .image .caption .name {
    color: #000000;
}

@media screen and (max-width: 1115px) {
    .about .text {
        flex-basis: 60%;
    }
}

@media screen and (max-width: 850px) {
    .about .text {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .about .container {
        flex-direction: column;
    }
}

.reviews {
    margin-bottom: var(--page-padding);
}

.reviews .container {
    display: flex;
    justify-content: space-evenly;
}

.reviews .review {
    background-color: #F6F6F6;
    flex-basis: 33.3%;
    max-width: 450px;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
    height: 100%;
    transition: transform 0.4s;
    margin-right: 20px;
}

.reviews .review:last-of-type {
    margin-right: 0;
}

.reviews .review span {
    font-size: 0.875em;
}

.reviews .review p {
    text-align: center;
}

.reviews .review .profile {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin-bottom: 5px;
}

.reviews .review .star {
    width: 32px;
    height: 32px;
    margin: 15px 0;
}

.reviews .review:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 900px) {
    .reviews .container {
        flex-direction: column;
    }

    .reviews .review {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: none;
    }
}
 
.cta-full-screen {
    height: 100vh;
    background-color: var(--orange-color);
    color: #FFFFFF;
}

.cta-full-screen .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cta-full-screen h2 {
    color: #FFFFFF;
    text-align: center;
}

.cta-full-screen .button {
    background-color: #FFFFFF;
    color: var(--orange-color);
    margin-bottom: 30px;
}

.cta-full-screen .button:hover {
    background-color: var(--white-hover-color);
    color: var(--orange-hover-color);
}

@media screen and (max-width: 850px) {
    .cta-full-screen h2 {
        font-size: 2em;
    }
}

.or-call {
    font-size: 1.125em; /* same as button font size */
    color: #FFFFFF;
}

.or-call a {
    color: #FFFFFF;
    transition: color 0.4s;
    font-weight: bold;
    text-decoration: none;
}

.or-call a:hover {
    color: var(--white-hover-color);
}

footer {
    height: 240px;
    background-color: #005C75;
    padding-bottom: var(--page-padding);
}

footer .flex-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
}

footer .logo,
footer .services {
    flex-basis: 250px;
}

footer .logo img {
    width: 160px;
}

footer .logo img {
    transition: opacity 0.4s;
}

footer .logo img:hover {
    opacity: 0.7;
}

footer .services {
    list-style-type: none;
    color: #FFFFFF;
}

footer .services li {
    margin-bottom: 8px;
}

footer .services li:first-of-type {
    font-size: 1.125em;
}

footer .services a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.4s;
}

footer .services a:hover {
    color: var(--white-hover-color);
}

footer .cta {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .cta .button {
    margin-bottom: 10px;
}

footer .copyright {
    font-size: 0.7em;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    footer {
        height: auto;
    }

    footer .flex-container {
        flex-direction: column;
    }

    footer .logo,
    footer .services,
    footer .cta {
        flex-basis: auto;
        margin-bottom: 30px;
    }

    footer .services {
        text-align: center;
    }

    footer .cta {
        width: 100%;
    }
}